@inherits Umbraco.Web.Mvc.UmbracoViewPage

@using ClientDependency.Core.Mvc

@{
    Layout = null;

    // Client Dependency
    Html.RequiresCss("https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css");
    Html.RequiresCss("/css/styles.css");

    Html.RequiresJs("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js");
    Html.RequiresJs("/js/scripts.js");
    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js");
    Html.RequiresJs("/assets/demo/chart-area-demo.js");
    Html.RequiresJs("/assets/demo/chart-bar-demo.js");
    Html.RequiresJs("https://cdn.jsdelivr.net/npm/simple-datatables@latest");
    Html.RequiresJs("/js/datatables-simple-demo.js");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@(Umbraco.GetDictionaryValue("Site.Title"))</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>

    @Html.RenderCssHere()
</head>

<body class="sb-nav-fixed">
    @Html.Partial("~/Views/Partials/TopNavigation.cshtml")

    <div id="layoutSidenav">
        @Html.Partial("~/Views/Partials/SideNavigation.cshtml")

        <div id="layoutSidenav_content">
            @RenderBody()
            @Html.Partial("~/Views/Partials/Footer.cshtml")
        </div>
    </div>

    @Html.RenderJsHere()
</body>

</html>