@inherits UmbracoViewPage

@{ 
    var homePage = Model.AncestorOrSelf<Home>();
    var navItems = homePage.Children.Where(x => x.IsVisible());
}

<!-- Side Navigation Bar -->
<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                @*<div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" href="@homePage.Url">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    @homePage.Name
                </a>*@

                @if (navItems != null && navItems.Any())
                {
                    // navItems are Heading document type
                    foreach (var item in navItems)
                    {
                        <div class="sb-sidenav-menu-heading">@item.Name</div>

                        var itemChildren = item.Children.Where(x => x.IsVisible());
                        var hasChildren = itemChildren != null && itemChildren.Any();

                        if (hasChildren)
                        {
                            int counter = 1;
                            // itemChildren are Main Content document type
                            foreach (var child in itemChildren)
                            {
                                var subChildren = child.Children.Where(x => x.IsVisible());
                                var hasSubChildren = subChildren != null && subChildren.Any();

                                if (hasSubChildren)
                                {
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapse@(counter)" aria-expanded="false" aria-controls="collapse@(counter)">
                                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                        @child.Name
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="collapse@(counter)" aria-labelledby="heading@(counter)" data-bs-parent="#sidenavAccordion">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            @foreach (var subChild in subChildren)
                                            {
                                                <a class="nav-link" href="@subChild.Url">@subChild.Name</a>
                                            }
                                        </nav>
                                    </div>
                                    counter += 1;
                                }
                                else
                                {
                                    <a class="nav-link" href="@child.Url">
                                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                        @child.Name
                                    </a>
                                }

                            }
                        }
                        else
                        {
                            <a class="nav-link" href="@item.Url">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                @item.Name
                            </a>
                        }
                    }
                }
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Test User
        </div>
    </nav>
</div>